.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.botao {
  display: block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--cp5);
  box-sizing: border-box;
  font: 600 1.8rem/1.3 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.botao.secundario {
  background: var(--c10);
  color: var(--c2);
}
.botao.secundario:hover {
  background: var(--c9);
}
.botao.seta {
  display: flex;
  align-items: center;
}
.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.2s;
}
.botao.seta:hover::after {
  transform: translateX(4px);
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1.6rem;
  }
}
.link {
  display: inline-block;
  text-transform: uppercase;
}
.link::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.link:hover {
  color: var(--c0);
}
/*titulos internos*/
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--c11);
}
.titulo span {
  margin-bottom: 4px;
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo span {
    font-size: 1rem;
    text-transform: lowercase;
  }
}
