.header-bg {
  background-color: var(--c12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu a {
  padding: 10px 0px;
  position: relative;
}
.header-menu a::after {
  display: block;
  content: " ";
  width: 0;
  height: 2px;
  background-color: var(--c0);
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    font-size: 1.6rem;
    padding: 8px 16px;
    background-color: var(--c10);
    border-radius: 4px;
  }
}
@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .header-menu a::after {
    content: none;
  }
}
